<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    th:fragment="layout(home, title)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <title th:replace="${title}">Título padrão</title>
</head>

<body class="bg-slate-100 flex flex-col h-screen overflow-hidden">
    <header class="bg-slate-900 text-white p-3 shrink-0">
        <nav class="max-w-7xl mx-auto flex justify-between items-center">
            <span class="font-bold text-lg">Gestor de Contratos</span>
            <div th:replace="~{fragments/exitMenu}"></div>
        </nav>
    </header>

    <main class="grow p-3 overflow-y-auto" sec:authorize="isAuthenticated()">
        <div th:replace="${home}"></div>
    </main>

    <div th:replace="~{fragments/footer}"></div>
</body>

</html>