<svg th:fragment="exitIcon" xmlns="http://www.w3.org/2000/svg" th:class="${class} ?: 'w-5 h-5'" fill="none"
    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">

    <path stroke-linecap="round" stroke-linejoin="round"
        d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
</svg>

<svg th:fragment="backIcon" xmlns="http://www.w3.org/2000/svg" th:class="${class} ?: 'w-4 h-4'" fill="none"
    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">

    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
</svg>