<div class="rounded-xl shadow-sm border border-slate-200 overflow-hidden" th:fragment="lista-contratos">
    <table class="w-full text-left text-sm text-slate-600">
        <thead
            class="bg-slate-50 border-b border-slate-200 text-slate-700 font-semibold uppercase text-xs tracking-wider">
            <tr>
                <th>Ano</th>
                <th>Nº Processo</th>
                <th>Nome</th>
                <th>Cargo</th>
                <th>Unidade</th>
                <th>Carga Horária</th>
                <th>Data Assinatura</th>
                <th>Data Vigência</th>
                <th>Nacionalidade</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-slate-200">
            <tr th:each="c : ${contratos}">
                <td th:text="${c.anoContrato}"></td>
                <td th:text="${c.numProc}"></td>
                <td th:text="${c.nome}"></td>
                <td th:text="${c.cargo}"></td>
                <td th:text="${c.unidade}"></td>
                <td th:text="${c.cargaHoraria}"></td>
                <td th:text="${c.dataAssinatura}"></td>
                <td th:text="${c.dataVigencia}"></td>
                <td th:text="${c.nacionalidade}"></td>
                <td>
                    <th:block th:replace="~{fragments/btn-frag :: gen-doc(id=${c.id})}"></th:block>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</html>