<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    th:replace="~{layouts/base :: layout(~{::#home}, ~{::title})}">

<head>
    <meta charset="UTF-8">
    <title>Gestor de Contratos</title>
    <link rel="stylesheet" type="text/css" th:href="@{output.css}">
</head>

<body>
    <div id="home" class="max-w-7xl mx-auto space-y-6">
        <div class="flex items-center justify-between" sec:authorize="isAuthenticated()">
            <h1>Contrato de professores</h1>
            <div th:replace="~{fragments/btn-cad-contr}"></div>
        </div>
        <div class="flex flex-col sm:flex-row sm:items-center justify-between gap-4 p-6 rounded-sm shadow-sm border border-slate-200"
            th:if="${contratos == null or contratos.isEmpty()}">
            <p>Nenhum contrato cadastrado.</p>
        </div>

        <div th:replace="~{fragments/lista-contratos}"></div>

    </div>
</body>

</html>